.upload-container:hover .remove-btn,
.upload-container img:hover + .remove-btn {
    visibility: visible;
}
.status-active {
    color: green;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}