.add-button {
    border: none;
    margin: 0px 0px 0px 5px !important;
    background-color: rgb(166 236 171);
}

.add-button:hover {
    background-color: rgb(120 200 120);
}

.add-icon {
    color: #3c3c3c;
}

.stt, .mau_sac, .kich_thuoc, .trong_luong, .so_luong, .gia_ban, .tinh_nang {
    position: relative;
    text-align: center;
}

#gia_ban::after {
    content: attr(data-raw-value) " VNĐ";
    width: 100%; /* Đảm bảo nằm ở cuối cùng */
}

#trong_luong::after {
    content: attr(data-raw-value) " Gram";
    width: 100%; /* Đảm bảo nằm ở cuối cùng */
}

.modal-header {
    border-bottom: 1px solid #ccc;
}



.image-item {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}



.image-product-container {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Khoảng cách giữa các ảnh */
}

.color-quantity {
    padding-left: 0px;
}

.row-quantity{
    height: 51px;
}

.div-quantity {
    text-align: left;
    padding-left: 0px
}

.label-quantity {
    padding: 11px 11px 11px 0px;
    font-size: 16px;
    font-weight: bold
}

.label-quantity::after {
    content: attr(data-raw-value) " Cái";
    width: 100%; /* Đảm bảo nằm ở cuối cùng */
}

.product-detail-infor {
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 5px;
}

.modal-header {
    border-radius: 0px;
    border-bottom: 2px solid #FFD43B;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 0px;
}

.modal-title {
    font-size: 22px;
}

.sidebar {
    width: 250px; /* Chiều rộng sidebar */
    height: 100vh; /* Chiều cao full màn hình */
    position: fixed; /* Cố định vị trí */
    top: 0;
    left: 0;
    background-color: #333; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 20px;
    overflow-y: auto; /* Thanh cuộn nếu nội dung dài */
    z-index: 1000; /* Đảm bảo sidebar trên nội dung */
}

.content {
    margin-left: 50px; /* Chừa khoảng trống bằng với chiều rộng sidebar */
    padding: 20px; /* Khoảng cách nội dung */
    min-height: 100vh; /* Chiều cao tối thiểu */
    background-color: #f9f9f9; /* Màu nền */
    overflow: hidden; /* Ẩn phần nội dung bị tràn */
}

/* Đảm bảo layout responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Chiều rộng nhỏ hơn cho sidebar */
    }
    .content {
        margin-left: 200px; /* Căn chỉnh lại khoảng trống */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100px; /* Sidebar nhỏ gọn hơn */
    }
    .content {
        margin-left: 100px; /* Tương ứng với sidebar */
    }
}

#thumbbox {
    display: flex;
    flex-wrap: wrap; /* Đảm bảo các ảnh được bọc gọn gàng */
}

#thumbbox img {
    width: 100px; /* Chiều rộng của ảnh */
    height: 100px; /* Chiều cao của ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo và phù hợp với kích thước */
    margin: 5px; /* Khoảng cách giữa các ảnh */
}

