* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.css-67mbka {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    user-select: none;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    min-width: 36px;
    min-height: 36px;
    padding: calc((36px - calc(1.25rem* var(--ui-rem-scale)) - 2px) / 2) 16px;
    border: 7px solid transparent;
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 255);
}


.css-slup14 {
    font-size: calc(0.875rem* var(--ui-rem-scale));
    font-weight: 550;
    line-height: calc(1rem* var(--ui-rem-scale));
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 1px;
    min-height: 1px;
}

.css-y5qmm9 {
    margin-right: 4px;
    margin-top: 2px;
}

.css-1o24pcm {
    display: block;
    height: 20px;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.css-67mbka svg {
    color: currentcolor;
}

.css-1o24pcm svg,
.css-1o24pcm img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

a.css-67mbka:hover {
    background: rgb(51, 160, 255);
    color: #fff;
}

.container {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 1px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    outline: transparent solid 1px;
}

ul.tablist-order {
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(232, 234, 235);
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.css-1hfoem2 {
    appearance: none;
    margin: 1px 0px calc(-1px);
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    color: rgb(116, 124, 135);
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    padding: 4px 4px calc(6px);
    outline: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.css-1hfoem2 .e19wcowe2 {
    color: rgb(0, 136, 255);
    position: relative;
}

.css-1h1oecx {
    position: relative;
    display: block;
    border-radius: 6px;
    padding: 8px 16px;
    min-width: 36px;
    font-size: calc(0.875rem* var(--ui-rem-scale));
    line-height: calc(1.25rem* var(--ui-rem-scale));
    font-weight: 550;
}

.container .filter-cells {
    display: flex;
    padding: 20px;
}

.css-1o5a78p {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    line-height: calc(1.5rem* var(--ui-rem-scale));
}

.css-1yb7d7m {
    position: relative;
    z-index: 20;
    flex: 0 0 auto;
    color: rgb(116, 124, 135);
    user-select: none;
    margin-left: 12px;
    margin-right: 8px;
}

.css-rkie3g {
    display: block;
    height: 20px;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    color: rgb(163, 168, 175);
}

.css-rkie3g svg {
    fill: rgb(163, 168, 175);
}

.css-rkie3g svg,
.css-rkie3g img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.css-1ybyoqp {
    z-index: 30;
    resize: none;
    box-shadow: none;
    outline: none;
    background: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    text-align: left;
    border: 1px solid transparent;
    min-height: 36px;
    padding: calc((36px - calc(1.5rem* var(--ui-rem-scale)) - 2px) / 2) 12px;
    width: 497px;
}

.css-1o5a78p .e1ax7ei26 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 213, 215);
    font-size: calc(0.875rem* var(--ui-rem-scale));

}

.css-exmh99 {
    position: absolute;
    z-index: 10;
    inset: 0px;
    pointer-events: none;
    border-radius: 6px;
    transition: border-color 200ms linear;
}

.css-plw1da {
    display: flex;
    margin-left: 16px;
}

.css-6srwa1 {
    display: flex;
}

.css-6srwa1 button {
    white-space: nowrap;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.css-1vssf6j {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    user-select: none;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    min-width: 36px;
    min-height: 36px;
    padding: calc((36px - calc(1.25rem* var(--ui-rem-scale)) - 2px) / 2) 16px;
    border: 1px solid rgb(211, 213, 215);
    color: rgb(15, 24, 36);
    background: rgb(255, 255, 255);
}

.css-6srwa1 button span {
    font-weight: 450;
}

.css-slup14 {
    font-size: calc(0.875rem* var(--ui-rem-scale));
    font-weight: 550;
    line-height: calc(1rem* var(--ui-rem-scale));
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 1px;
    min-height: 1px;
}

.css-6srwa1 button span {
    font-weight: 450;
}

.css-6srwa1 button span {
    font-weight: 450;
}

.css-15fzge {
    margin-left: 4px;
}

.css-6srwa1 button span {
    font-weight: 450;
}

.css-1o24pcm {
    display: block;
    height: 20px;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.css-1vssf6j svg {
    color: rgb(163, 168, 175);
}

.css-1o24pcm svg,
.css-1o24pcm img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.css-2f3rpz {
    display: flex;
}

.css-2f3rpz button {
    white-space: nowrap;
    border-radius: 0px;
    margin-left: calc(-1px);
}

.css-1vssf6j {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    user-select: none;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    min-width: 36px;
    min-height: 36px;
    padding: calc((36px - calc(1.25rem* var(--ui-rem-scale)) - 2px) / 2) 16px;
    border: 1px solid rgb(211, 213, 215);
    color: rgb(15, 24, 36);
    background: rgb(255, 255, 255);
}

.css-2f3rpz button span {
    font-weight: 450;
}


.css-2f3rpz button span {
    font-weight: 450;
}

.css-15fzge {
    margin-left: 4px;
}

.css-1o24pcm {
    display: block;
    height: 20px;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.css-1vssf6j svg {
    color: rgb(163, 168, 175);
}

.css-1o24pcm svg,
.css-1o24pcm img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.css-1xdhyk6,
.css-1xdhyk6 {
    margin-left: 13px;
}

.css-18ohjh3 {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
}

.css-cnbeka {
    background-color: rgb(244, 246, 248);
    padding: calc(14px) 16px;
    text-align: left;
    font-weight: 550;
    color: rgb(15, 24, 36);
    font-size: calc(0.875rem* var(--ui-rem-scale));
    white-space: nowrap;
    border: 0px;
    position: sticky;
    left: 0px;
    z-index: 1;
    width: 20px;
}

.css-1n5r022 {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-top: 1px solid rgb(232, 234, 235);
}

/* css td */
.css-166t3yd {
    text-align: left;
    white-space: nowrap;
    padding: 8px 16px;
}

/* td 1 */
.css-t7eakc+.e160qq0x2 {
    left: calc(88px);
    padding-left: 0px;
}

/* td2 */
.css-1qvvvsu {
    margin: 0px;
    text-align: inherit;
    font-size: calc(0.875rem* var(--ui-rem-scale));
    line-height: calc(1.25rem* var(--ui-rem-scale));
    font-weight: 450;
}

.css-ii5m0c {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.css-4fkh5d {
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: end;
    justify-content: flex-start;
    margin-top: calc(-16px);
    margin-left: calc(-16px);
}

.css-4fkh5d>.e14jmgg0 {
    margin-top: 16px;
    margin-left: 16px;
    max-width: 100%;
}

.css-thtl67 {
    flex: 0 0 auto;
    min-width: 0px;
    max-width: 100%;
}

/* td5 */
.css-1huj7c9 {
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: calc(-16px);
    margin-left: calc(-16px);
}

.css-2kmgkw {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 16px;
    outline: rgb(255, 223, 155) solid 1px;
    outline-offset: -1px;
    border-radius: 20px;
    background-color: rgb(255, 251, 242);
    color: rgb(228, 156, 6);
}

.css-ljhpxb {
    margin: calc(-2px) 0px calc(-2px) calc(-8px);
}

.css-1o24pcm {
    display: block;
    height: 20px;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.css-ljhpxb svg {
    display: inline-block;
    vertical-align: top;
}

.css-2kmgkw svg {
    fill: rgb(228, 156, 6);
}

.css-1o24pcm svg {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.css-1huj7c9>.e14jmgg0 {
    margin-top: 16px;
    margin-left: 16px;
    max-width: 100%;
}

.css-thtl67 {
    flex: 0 0 auto;
    min-width: 0px;
    max-width: 100%;
}

.css-z8vxi5 {
    margin: 0px;
    text-align: inherit;
    font-size: calc(0.75rem* var(--ui-rem-scale));
    line-height: calc(1rem* var(--ui-rem-scale));
    font-weight: 450;
}

.css-10rtstj {
    padding: 16px;
}

.css-12jjl5s {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: calc(-16px);
    margin-left: calc(-16px);
}

.css-12jjl5s>.e14jmgg0 {
    margin-top: 16px;
    margin-left: 16px;
    max-width: 100%;
}

.css-thtl67 {
    flex: 0 0 auto;
    min-width: 0px;
    max-width: 100%;
}

.css-17oe0xs {
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: calc(-8px);
    margin-left: calc(-8px);
}

.css-3ciuc3 {
    margin: 0px;
    text-align: inherit;
}

.css-bjn8wh {
    position: relative;
}

.css-1w94bv2 {
    cursor: pointer;
    top: 0px;
    left: 0px;
    z-index: 30;
    text-transform: none;
    letter-spacing: normal;
    position: absolute;
    text-rendering: auto;
    margin: 0px;
    opacity: 0;
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    line-height: calc(1.25rem* var(--ui-rem-scale));
    font-weight: 450;
    font-size: calc(1rem* var(--ui-rem-scale));
    padding-left: 12px;
}

.css-1w94bv2~.e115wh4o4 {
    border: 1px solid rgb(211, 213, 215);
    background-color: rgb(255, 255, 255);
}

.css-k1knd3 {
    z-index: 10;
    position: absolute;
    inset: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 213, 215);
    border-radius: 6px;
}

.css-2ry0el {
    font-size: calc(1rem* var(--ui-rem-scale));
    font-weight: 450;
    line-height: calc(1.5rem* var(--ui-rem-scale));
    text-transform: initial;
    letter-spacing: initial;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 20;
    width: 100%;
    min-height: 36px;
    padding-right: 2px;
    padding-left: 9px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.css-1dflzr4 {
    flex: 1 1 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-rkie3g svg {
    fill: rgb(163, 168, 175);
}

.css-rkie3g svg,
.css-rkie3g img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.css-12jjl5s>.e14jmgg0 {
    margin-top: 16px;
    margin-left: 16px;
    max-width: 100%;
}

.css-thtl67 {
    flex: 0 0 auto;
    min-width: 0px;
    max-width: 100%;
}

.css-18c5rtc {
    height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1u0jvzv:disabled,
.css-1u0jvzv[disabled] {
    cursor: default;
    pointer-events: none;
    background: none;
}

.css-1abf0ql {
    appearance: none;
    background: none rgb(0, 136, 255);
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 4px;
    cursor: pointer;
    border: 0px;
    font-size: calc(1rem* var(--ui-rem-scale));
    border-radius: 9999px;
    margin: 0px 4px;
    transition: 200ms;
    color: rgb(255, 255, 255);
    position: relative;
}

.css-1u0jvzv:disabled,
.css-1u0jvzv[disabled] {
    cursor: default;
    pointer-events: none;
    background: none;
    border: none;
}

.css-rkie3g {
    display: block;
    height: 20px;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    color: rgb(163, 168, 175);
}