#layoutSidenav {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#layoutSidenav_content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

#layoutSidenav .sidebar {
    width: 250px;
    flex-shrink: 0;
}

.col-md-3 {
    display: flex;
    flex: 1 1 22%;
    margin: 10px;
}

.stat-box {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 15px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    box-sizing: border-box;
    height: 100%;
}


.stat-box:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.8);
}

.stat-box h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.stat-box p {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin: 0;
}

.stat-box .fas {
    margin-right: 15px;
}

.row .stat-box {
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.pagination a {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #0056b3;
}
